<table class="table table-striped">
	{{#each acList}}
		{{#if Alt }}
			<tr class="flight-info" id="id-{{Id}}" >
				<td class="orient"><i class="fa fa-fighter-jet {{orient}}"></i></td>
				<td class='alt'>{{Alt}}</td>
				<td class='alt'>{{CNum}}</td>
			</tr>
		{{/if}}
	{{/each}}
</table>
